.ProductsBadge {
  background: #080808;
  color: white;
  padding: 40px 0;
  margin-bottom: 35px;
}
.inner {
  display: flex;
  flex-direction: column;
  .link {
    display: flex;
    align-self: center;
    font-size: 30px;
    margin-bottom: 20px;

    transition: 0.1s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.spinner {
  align-self: center;
}
.error {
  font-size: 40px;
  align-self: center;
  font-weight: bold;
}
