.ProductsBadge {
  background: #080808;
  color: white;
  padding: 40px 0;
  margin-bottom: 35px;
}
.inner {
  display: flex;
  flex-direction: column;
  h3 {
    display: flex;
    align-self: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.list {
  display: flex;
  justify-content: space-around;
}
