.GoToCart {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 50px;
  margin-bottom: 30px;
}
.goToCart__link {
  background: #080808;
  border: 2px solid white;
  padding: 5px 15px;
  color: white;
  border-radius: 10px;
}
