.Footer {
  display: flex;

  width: 100%;
  justify-content: center;
  align-items: center;
  color: #e5e5e5;
  background: #080808;
  padding: 15px 0;
  align-self: flex-end;
  justify-self: flex-end;
}
